@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br />
    <p>
        Website built by Facundo Posse to complete a challenge on the use of .NET technologies
    </p>
    <p>
        For information contact <a href="https://twitter.com/FacundoPosse_">@@FacundoPossee_</a> on Twitter.
    </p>
    <p>Go to the main function <a asp-controller="Vehicles" asp-action="Index">here</a>.</p>
</div>
